# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
dist/
build/
*.egg-info/
.no-mime.mk

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller converts the script to an exe, so we ignore them.
__pyinstaller/*.readme
__pyinstaller/hooks/*.dat
__pyinstaller/hooks/pre_safeimport.pyc

# Jupyter Notebook
*.ipynb_checkpoints

# Environments
env/
venv/

# IDEs and editors
.idea/
.vscode/

# Databases
db.sqlite3
*.sqlitedb
*.sqlite
*.dbf

# Cloud9 workspace config file
.c9/.config/Workspaces

# PEP8 compliant example: ignore everything in the test directory and its subdirectories
tests/

# Output of 'pip freeze'
freeze/

# Environments where you can install packages that aren’t part of your app’s dependencies.
node_modules/
bower_components/

#extra files
*.png
*.stl
*.log
